.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
  border: solid;
  display: inline-block;
  background-color: linen;
  width: 80%;
  height: 70vh;
}

.second-head {
  padding: 10px;
  margin-bottom: 10px;
  background-color: cornflowerblue;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
